:root {
    --main-task-bg: #fdd85d;
    --main-project-bg: #fdc921;
    font-family: Arial, Helvetica, sans-serif;
    --task-left-padding: 40px;
  }
  

* {
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.project-sidebar>h1 {
    padding-left: 30px;
}

.main>h1 {
    padding-left: var(--task-left-padding);
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
}

.project-sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--main-project-bg);
    border-right: gray solid 1px;
}

.main {
    background-color: var(--main-task-bg);
}

#project-list, #task-list {
    display: grid;
    padding: 0px 0px 0px 0px;
}

#task-list {
    row-gap: 0.5em;
    width: 80%;
    padding: 0px 0px 0px var(--task-left-padding);
}

.project-list-item, .todo-list-item {
    display: flex;
    padding-left: 30px;
}

.project-list-item {
    height: 3em;
}

.todo-list-item {
    background-color: rgba(200, 0, 0, 0.08);
    border-radius: 100px;
    border: black solid 1px;
    height: 2em;
}

.project-list-item:hover, .todo-list-item:hover  {
    background-color: rgba(200, 0, 0, 0.1);
}

.project-title, .todo-title {
    display: flex;
    margin: auto;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: auto;
}

.project-title {
    font-size: 1.3em;
}

.project-delete-btn{
    margin-left: auto;
    /* border-radius: var(--project-corner-radius); */
    margin-right: 10px;
}

#add-project-btn {
    all: unset;
    align-self: center;
    font-size: 1.3em;
    height: 2em;
    padding: 0px 30px;
    margin-top: 20px;
    background-color: rgba(100, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
}

#add-project-btn:hover {
    background-color: rgba(100, 0, 0, 0.3);
}