:root {
    --main-task-bg: #fdd85d;
    --main-project-bg: #fdc921;
    font-family: Arial, Helvetica, sans-serif;
    --task-left-padding: 40px;
  }
  

* {
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.project-sidebar>h1 {
    padding-left: 30px;
}

.main>h1 {
    padding-left: var(--task-left-padding);
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
}

.project-sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--main-project-bg);
    border-right: gray solid 1px;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: var(--main-task-bg);
}

#project-list, #task-list {
    display: grid;
    padding: 0px 0px 0px 0px;
}

#task-list {
    row-gap: 0.5em;
    width: 100%;
    padding: 0px var(--task-left-padding);
}

.project-list-item, .todo-list-item {
    display: flex;
}

.project-list-item {
    height: 3em;
    padding-left: 30px;
}


.todo-list-item {
    border: black solid 1px;
    height: 2em;
    padding-left: 20px;
    border-radius: 100px;
    min-width: 0; 
}

.project-list-item:hover, .todo-list-item:hover  {
    background-color: rgba(200, 0, 0, 0.1);
}

.project-title, .todo-title {
    display: flex;
    margin: auto;
    align-items: center;
    height: 100%;
    white-space: nowrap;
    cursor: auto;
}

.todo-title {
    width: auto;
}

.project-title {
    width: 100%;
}

.todo-description {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.8);
    min-width: 0;
}

.task-description-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
}

.task-date {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    width: auto;
    /* background-color: red; */
    white-space: nowrap;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.project-title {
    font-size: 1.3em;
}

.project-delete-btn{
    display: flex;
    margin-left: auto;
    /* border-radius: var(--project-corner-radius); */
    margin-right: 10px;
    height: 2em;
    align-self: center;
    stroke-width: 5px;
}

#add-project-btn, #add-task-btn, #task-submit-btn {
    all: unset;
    height: 2em;
    background-color: rgba(100, 0, 0, 0.1);
    cursor: pointer;
    padding: 0px 30px;
    border-radius: 100px;
}

#add-project-btn {
    margin-top: 20px;
    align-self: center;
    font-size: 1.3em;
}

.delete-task-btn, .edit-task-btn {
    display: flex;
    align-self: center;
    height: 1.5em;
}

.delete-task-btn {
    margin-right: 20px;
}

.edit-task-btn {
    margin-right: 10px;
}

#add-task-btn {
    align-self: flex-start;
    margin-left: var(--task-left-padding);
    margin-top: 0.5em;
}

#task-submit-btn {
    display: block;
    margin: 10px auto 0px auto;
}

#add-project-btn:hover, #add-task-btn:hover, #task-submit-btn:hover {
    background-color: rgba(100, 0, 0, 0.3);
}

/* Dialog Formatting */
dialog {
    margin: auto;
    width: clamp(500px, 500px, 100%);
    background-color: var(--main-task-bg);
    border-radius: 10px;
    border: black 2px solid;
}

#form-title {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid black;
}

form>div {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

label {
    display: inline-block;
    /* background-color: red; */
    width: 140px;
}

input {
    margin: auto;
    flex: 1;
    height: 2em;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset>div {
    display: flex;
    align-self: flex-start;
}

fieldset>div>label {
    display: flex;
    align-self: center;
    padding-left: 20px;
}

#complete-status-input {
    margin-left: 0;
    margin-right: auto;
    align-self: flex-start; /* Optional: aligns to top of the flex container */
    flex: 0;
    height: 2em;
    width: 3em;
    margin-top: 10px;
}

#projectSelection {
    display: flex;
    width: 100%;
    flex: 1;
}